infra-n8n/01_generate_pdf_and_deliver.json
{
    "name": "Cerebrin — Generar PDF y Entregar",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generate-pdf",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "webhook-trigger",
            "name": "Webhook — Pipeline Aprobado",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                220,
                300
            ],
            "webhookId": "generate-pdf"
        },
        {
            "parameters": {
                "jsCode": "// Recibe el payload del pipeline aprobado\nconst input = $input.first().json;\n\nconst title = input.title || 'Informe Cerebrin';\nconst content = input.content || '';\nconst pipelineId = input.pipeline_id || 'unknown';\nconst projectId = input.project_id || 'unknown';\nconst userId = input.user_id || 'unknown';\nconst workspaceId = input.workspace_id || 'unknown';\nconst platform = input.platform || 'whatsapp';\nconst deliverTo = input.deliver_to || platform;\n\n// Sanitizar título para nombre de archivo\nconst safeTitle = title\n  .replace(/[^a-zA-Z0-9áéíóúñÁÉÍÓÚÑ\\s]/g, '')\n  .trim()\n  .replace(/\\s+/g, '_')\n  .substring(0, 50);\n\nconst timestamp = new Date().toISOString().split('T')[0];\nconst filename = `${safeTitle}_${timestamp}.pdf`;\n\n// Convertir Markdown a HTML básico\nfunction markdownToHtml(md) {\n  let html = md\n    // Headers\n    .replace(/^### (.+)$/gm, '<h3>$1</h3>')\n    .replace(/^## (.+)$/gm, '<h2>$1</h2>')\n    .replace(/^# (.+)$/gm, '<h1>$1</h1>')\n    // Bold and italic\n    .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/\\*(.+?)\\*/g, '<em>$1</em>')\n    .replace(/_(.+?)_/g, '<em>$1</em>')\n    // Lists\n    .replace(/^- (.+)$/gm, '<li>$1</li>')\n    .replace(/^\\d+\\. (.+)$/gm, '<li>$1</li>')\n    // Blockquotes\n    .replace(/^> (.+)$/gm, '<blockquote>$1</blockquote>')\n    // Horizontal rules\n    .replace(/^---$/gm, '<hr/>')\n    // Line breaks\n    .replace(/\\n\\n/g, '</p><p>')\n    .replace(/\\n/g, '<br/>');\n  \n  return '<p>' + html + '</p>';\n}\n\nconst htmlContent = markdownToHtml(content);\n\n// Template HTML profesional para el PDF\nconst fullHtml = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');\n    \n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    \n    body {\n      font-family: 'Inter', -apple-system, sans-serif;\n      color: #1a1a2e;\n      line-height: 1.7;\n      padding: 40px 50px;\n      background: #ffffff;\n    }\n    \n    /* Header */\n    .header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      border-bottom: 3px solid #7c3aed;\n      padding-bottom: 20px;\n      margin-bottom: 30px;\n    }\n    .header .brand {\n      font-size: 24px;\n      font-weight: 700;\n      color: #7c3aed;\n      letter-spacing: -0.5px;\n    }\n    .header .date {\n      font-size: 12px;\n      color: #6b7280;\n    }\n    \n    /* Content */\n    h1 {\n      font-size: 28px;\n      font-weight: 700;\n      color: #1a1a2e;\n      margin: 30px 0 15px;\n      letter-spacing: -0.5px;\n    }\n    h2 {\n      font-size: 20px;\n      font-weight: 600;\n      color: #7c3aed;\n      margin: 25px 0 10px;\n      padding-bottom: 5px;\n      border-bottom: 1px solid #e5e7eb;\n    }\n    h3 {\n      font-size: 16px;\n      font-weight: 600;\n      color: #374151;\n      margin: 20px 0 8px;\n    }\n    p {\n      margin: 0 0 12px;\n      font-size: 14px;\n      color: #374151;\n    }\n    strong {\n      color: #1a1a2e;\n      font-weight: 600;\n    }\n    em {\n      font-style: italic;\n      color: #6b7280;\n    }\n    li {\n      margin: 4px 0;\n      padding-left: 20px;\n      font-size: 14px;\n      list-style-position: inside;\n    }\n    blockquote {\n      border-left: 4px solid #7c3aed;\n      background: #f3f0ff;\n      padding: 12px 20px;\n      margin: 15px 0;\n      border-radius: 0 8px 8px 0;\n      font-size: 14px;\n      color: #4c1d95;\n    }\n    hr {\n      border: none;\n      border-top: 1px solid #e5e7eb;\n      margin: 25px 0;\n    }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin: 15px 0;\n      font-size: 13px;\n    }\n    th, td {\n      border: 1px solid #e5e7eb;\n      padding: 8px 12px;\n      text-align: left;\n    }\n    th {\n      background: #f3f0ff;\n      font-weight: 600;\n      color: #7c3aed;\n    }\n    \n    /* Footer */\n    .footer {\n      margin-top: 40px;\n      padding-top: 20px;\n      border-top: 2px solid #e5e7eb;\n      text-align: center;\n      font-size: 11px;\n      color: #9ca3af;\n    }\n    .footer .powered {\n      color: #7c3aed;\n      font-weight: 600;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <div class=\"brand\">🧠 Cerebrin</div>\n    <div class=\"date\">${new Date().toLocaleDateString('es-CL', { year: 'numeric', month: 'long', day: 'numeric' })}</div>\n  </div>\n  \n  ${htmlContent}\n  \n  <div class=\"footer\">\n    <p>Generado automáticamente por <span class=\"powered\">Cerebrin AI</span></p>\n    <p>Pipeline ID: ${pipelineId} · Proyecto: ${projectId}</p>\n  </div>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    title,\n    filename,\n    htmlContent: fullHtml,\n    pipelineId,\n    projectId,\n    userId,\n    workspaceId,\n    platform,\n    deliverTo,\n    content: content.substring(0, 3000)\n  }\n};"
            },
            "id": "prepare-html",
            "name": "Preparar HTML para PDF",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                440,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.html2pdf.app/v1/generate",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "apiKey",
                            "value": "={{ $env.HTML2PDF_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ html: $json.htmlContent, format: 'A4', margin: { top: '20mm', right: '15mm', bottom: '20mm', left: '15mm' } }) }}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "id": "generate-pdf",
            "name": "Generar PDF (html2pdf.app)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                660,
                200
            ],
            "notes": "ALTERNATIVA GRATIS: Puedes reemplazar esto con un contenedor Docker de Puppeteer en tu VPS. Ver nodo 'Alternativa Puppeteer' abajo."
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3100/api/html-to-pdf",
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ html: $json.htmlContent, filename: $json.filename }) }}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "id": "generate-pdf-local",
            "name": "Alternativa: PDF Local (Puppeteer)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                660,
                480
            ],
            "disabled": true,
            "notes": "Si tienes un servicio de Puppeteer corriendo en tu VPS, activa este nodo y desactiva el anterior."
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SUPABASE_URL }}/storage/v1/object/reports/{{ $('Preparar HTML para PDF').item.json.workspaceId }}/{{ $('Preparar HTML para PDF').item.json.filename }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/pdf"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/pdf",
                "body": "={{ $binary.data }}",
                "options": {}
            },
            "id": "upload-supabase",
            "name": "Subir PDF a Supabase Storage",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                880,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "const input = $('Preparar HTML para PDF').item.json;\nconst workspaceId = input.workspaceId;\nconst filename = input.filename;\n\n// Construir URL pública del PDF\nconst supabaseUrl = $env.SUPABASE_URL || 'https://rtkyeggkclqegzkqlvjj.supabase.co';\nconst pdfUrl = `${supabaseUrl}/storage/v1/object/public/reports/${workspaceId}/${filename}`;\n\nreturn {\n  json: {\n    ...input,\n    pdfUrl,\n    pdfFilename: filename\n  }\n};"
            },
            "id": "build-pdf-url",
            "name": "Construir URL del PDF",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1100,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SUPABASE_URL }}/rest/v1/documents",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_ANON_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=minimal"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ workspace_id: $json.workspaceId, user_id: $json.userId, title: '📄 PDF: ' + $json.title.substring(0, 80), type: 'pdf', status: 'Hecho', progress_pct: 100, metadata: { pipeline_id: $json.pipelineId, project_id: $json.projectId, pdf_url: $json.pdfUrl, pdf_filename: $json.pdfFilename, generated_by: 'n8n', generated_at: new Date().toISOString() } }) }}",
                "options": {}
            },
            "id": "save-to-cerebrin",
            "name": "Registrar PDF en Cerebrin",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1320,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.OPENCLAW_GATEWAY_URL || 'http://localhost:3100' }}/api/send",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.OPENCLAW_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ to: $json.userId, platform: $json.deliverTo, text: '✅ *Informe generado exitosamente*\\n\\n📋 *' + $json.title.substring(0, 60) + '*\\n\\n' + $json.content.substring(0, 800) + '\\n\\n📄 PDF disponible en tu panel de Cerebrin.' }) }}"
            },
            "id": "send-whatsapp",
            "name": "Enviar por WhatsApp/Telegram",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1540,
                100
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.OPENCLAW_GATEWAY_URL || 'http://localhost:3100' }}/api/send",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.OPENCLAW_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ to: $json.userId, platform: $json.deliverTo, text: '📄 Descarga tu informe:', media_url: $json.pdfUrl }) }}"
            },
            "id": "send-pdf-file",
            "name": "Enviar archivo PDF",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1540,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.OPENCLAW_GATEWAY_URL || 'http://localhost:3100' }}/api/send",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.OPENCLAW_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ to: $json.userId, platform: $json.deliverTo, text: '💡 *Mensaje sugerido para reenviar:*\\n\\n_Hola, te comparto este informe sobre \"' + $json.title.substring(0, 50) + '\". Fue generado por mi asistente de IA. Espero te sea útil._\\n\\n📄 ' + $json.pdfUrl + '\\n\\n_(Copia y envía a quien necesites)_' }) }}"
            },
            "id": "send-suggested-msg",
            "name": "Mensaje sugerido para reenviar",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1540,
                500
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, pdf_url: $('Construir URL del PDF').item.json.pdfUrl, filename: $('Construir URL del PDF').item.json.pdfFilename, delivered_to: $('Construir URL del PDF').item.json.deliverTo }) }}"
            },
            "id": "respond-webhook",
            "name": "Responder al Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1760,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SUPABASE_URL }}/rest/v1/activity_feed",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_ANON_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ workspace_id: $('Construir URL del PDF').item.json.workspaceId, user_id: $('Construir URL del PDF').item.json.userId, action_type: 'pdf_delivered', title: '📄 PDF entregado: ' + $('Construir URL del PDF').item.json.title.substring(0, 60), description: 'Entregado via ' + $('Construir URL del PDF').item.json.deliverTo, metadata: { pdf_url: $('Construir URL del PDF').item.json.pdfUrl, pipeline_id: $('Construir URL del PDF').item.json.pipelineId, delivered_via: $('Construir URL del PDF').item.json.deliverTo } }) }}"
            },
            "id": "log-activity",
            "name": "Log en Activity Feed",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1760,
                500
            ]
        }
    ],
    "connections": {
        "Webhook — Pipeline Aprobado": {
            "main": [
                [
                    {
                        "node": "Preparar HTML para PDF",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar HTML para PDF": {
            "main": [
                [
                    {
                        "node": "Generar PDF (html2pdf.app)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generar PDF (html2pdf.app)": {
            "main": [
                [
                    {
                        "node": "Subir PDF a Supabase Storage",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Subir PDF a Supabase Storage": {
            "main": [
                [
                    {
                        "node": "Construir URL del PDF",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Construir URL del PDF": {
            "main": [
                [
                    {
                        "node": "Registrar PDF en Cerebrin",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Registrar PDF en Cerebrin": {
            "main": [
                [
                    {
                        "node": "Enviar por WhatsApp/Telegram",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Enviar archivo PDF",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Mensaje sugerido para reenviar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enviar por WhatsApp/Telegram": {
            "main": [
                [
                    {
                        "node": "Responder al Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enviar archivo PDF": {
            "main": [
                [
                    {
                        "node": "Log en Activity Feed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner",
        "errorWorkflow": ""
    },
    "staticData": null,
    "tags": [
        {
            "name": "cerebrin"
        },
        {
            "name": "pdf"
        },
        {
            "name": "delivery"
        }
    ],
    "triggerCount": 1,
    "updatedAt": "2026-02-22T06:00:00.000Z",
    "versionId": "1"
}